## Import  the libraries

In [266]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from faker import Faker 
from cryptography.fernet import Fernet
import hashlib 
faker = Faker()

# Generate a Fernet key and initialize the Fernet cipher
key = Fernet.generate_key()
f = Fernet(key)

Faker.seed(123)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/business-data/business_data.csv
/kaggle/input/data-anonymization-datasets/Hospitality.csv
/kaggle/input/data-anonymization-datasets/Global Superstore.csv
/kaggle/input/data-anonymization-datasets/Friends dataset.csv
/kaggle/input/data-anonymization-datasets/EDNA Data Challenge-Challenge 2.csv

In [267]:
#pip install faker
#pip install cryptograpghy.fernet
#pip install hashlib

In [268]:
# Load the data into Pythton memory
edna = pd.read_csv("/kaggle/input/data-anonymization-datasets/EDNA Data Challenge-Challenge 2.csv")
biz = pd.read_csv("/kaggle/input/business-data/business_data.csv")
hospitality = pd.read_csv("/kaggle/input/data-anonymization-datasets/Hospitality.csv")

## Check the first few values of the data

In [269]:

edna.head()

,Date,ID,Customer Name,Product ID,Product,Sales Value
0,4/6/2019,C258,Daniel Perry,281914369-5,Web Hosting,$760
1,11/10/2019,C212,Wayne Gardner,271951398-9,Power BI Consulting,$610
2,10/20/2019,C177,Todd Watson,788959641-3,Networking,$916
3,6/19/2019,C191,Nicholas Ward,094714157-X,Consulting,$123
4,12/9/2019,C144,Louis Johnston,094714157-X,Consulting,$104

In [270]:
hospitality.head()

,Avg Room Rate,reservation_id,check_in_date,stay_duration,adults,children,room_type,special_requests_flag,booking_channel,reservation_status,advanced_booking,Property,Date,Rate Type
0,71.10,779087-Y5-9824-SA,4/15/2020,13,3,4,Single,Yes,Call Center,Completed,Yes,The Chord,4/15/2020,Weekday
1,71.10,984023-QO-5015-YG,6/12/2020,3,3,3,Single,No,Travel Agent,Completed,Yes,The Chord,6/12/2020,Weekday
2,172.38,518066-UQ-2315-FK,2/25/2020,11,4,2,Queen,No,Call Center,Completed,Yes,The Sankey,2/25/2020,Weekday
3,172.38,130339-H9-2116-KE,9/15/2020,11,4,1,Queen,No,Website,No-Show,Yes,The Sankey,9/15/2020,Weekday
4,199.00,961051-40-0956-EO,1/5/2020,14,2,4,Double,Yes,Walk-in,Completed,No,The Sankey,1/5/2020,Weekend

In [271]:
biz.head()

,Business_Name,Contact_Name,Email_Address,Phone_Number,Address,City,State,Zip_Code,Industry
0,"Bishop, Romero and Evans",Chelsea Booker,michaelpotts@gmail.com,9118555658,67565 Dorsey Manor Suite 699\nPort Alexisshire...,South Devonborough,Illinois,52749,Retail
1,Holmes and Sons,Robin Humphrey,brian52@orr.com,578.171.0591x92366,"897 Bell Ridges Suite 507\nLake Andreaborough,...",Garciastad,New Mexico,49650,Retail
2,Williamson-Atkins,Cheryl Hardy,kathyturner@rodgers.com,(667)921-9041x6464,"388 Fletcher Estates Suite 800\nNorth Amytown,...",Lake Kylechester,South Dakota,11376,Retail
3,Henderson-Perez,Susan Hall,edward60@gmail.com,3348834461,"941 Steven Springs\nWest Patrick, ID 83311",Gordonside,Virginia,23407,Finance
4,Martinez-Powers,Thomas Moore,salaserin@ortiz.com,001-314-870-6197x28902,"304 Eric Knoll\nBarbaraburgh, WV 66473",Cobbberg,Nebraska,93242,Retail

## Check the info about the datasets

In [272]:
 edna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           10000 non-null  object
 1   ID             10000 non-null  object
 2   Customer Name  10000 non-null  object
 3   Product ID     10000 non-null  object
 4   Product        10000 non-null  object
 5   Sales Value    10000 non-null  object
dtypes: object(6)
memory usage: 468.9+ KB

In [273]:
hospitality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98569 entries, 0 to 98568
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Avg Room Rate          98569 non-null  float64
 1   reservation_id         98569 non-null  object
 2   check_in_date          98569 non-null  object
 3   stay_duration          98569 non-null  int64
 4   adults                 98569 non-null  int64
 5   children               98569 non-null  int64
 6   room_type              98569 non-null  object
 7   special_requests_flag  98569 non-null  object
 8   booking_channel        98569 non-null  object
 9   reservation_status     98569 non-null  object
 10  advanced_booking       98569 non-null  object
 11  Property               98569 non-null  object
 12  Date                   98569 non-null  object
 13  Rate Type              98569 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 10.5+ MB

In [274]:
biz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Business_Name  2000 non-null   object
 1   Contact_Name   2000 non-null   object
 2   Email_Address  2000 non-null   object
 3   Phone_Number   2000 non-null   object
 4   Address        2000 non-null   object
 5   City           2000 non-null   object
 6   State          2000 non-null   object
 7   Zip_Code       2000 non-null   int64
 8   Industry       2000 non-null   object
dtypes: int64(1), object(8)
memory usage: 140.8+ KB

## Perform anonymization/obfuscation on the data

### Use of Faker library

In [275]:
# Introduce fake names into the customer name column
dict_names = {name: faker.name( ) for name in edna['Customer Name'].unique()}
edna['Customer Name'] = edna['Customer Name'].map(dict_names)

In [276]:
# Check to see fake customer names are applied
edna.head()

,Date,ID,Customer Name,Product ID,Product,Sales Value
0,4/6/2019,C258,Brandon Russell,281914369-5,Web Hosting,$760
1,11/10/2019,C212,Steven Johnson,271951398-9,Power BI Consulting,$610
2,10/20/2019,C177,Evelyn Christian,788959641-3,Networking,$916
3,6/19/2019,C191,George Cook,094714157-X,Consulting,$123
4,12/9/2019,C144,Aaron Graham,094714157-X,Consulting,$104

In [277]:
# Introduce fake emails into the email address column
dict_mails = {mail: faker.email( ) for mail in biz['Email_Address'].unique()}
biz['Email_Address'] = biz['Email_Address'].map(dict_mails)

In [278]:
# Check to see that fake email address is applied
biz.head()

,Business_Name,Contact_Name,Email_Address,Phone_Number,Address,City,State,Zip_Code,Industry
0,"Bishop, Romero and Evans",Chelsea Booker,courtney07@example.net,9118555658,67565 Dorsey Manor Suite 699\nPort Alexisshire...,South Devonborough,Illinois,52749,Retail
1,Holmes and Sons,Robin Humphrey,ohall@example.org,578.171.0591x92366,"897 Bell Ridges Suite 507\nLake Andreaborough,...",Garciastad,New Mexico,49650,Retail
2,Williamson-Atkins,Cheryl Hardy,egillespie@example.com,(667)921-9041x6464,"388 Fletcher Estates Suite 800\nNorth Amytown,...",Lake Kylechester,South Dakota,11376,Retail
3,Henderson-Perez,Susan Hall,anna43@example.org,3348834461,"941 Steven Springs\nWest Patrick, ID 83311",Gordonside,Virginia,23407,Finance
4,Martinez-Powers,Thomas Moore,tinasmith@example.net,001-314-870-6197x28902,"304 Eric Knoll\nBarbaraburgh, WV 66473",Cobbberg,Nebraska,93242,Retail

### Use of Cryptography.fernet - Defining function

In [316]:
# Function to encrypt a value
def encrypt_value(value):
    # Convert the value to bytes (Fernet requires bytes input)
    byte_value = value.encode('utf-8')
    encrypted_value = f.encrypt(byte_value)
    return encrypted_value

In [317]:
# Apply encryption to the Customer Name column
edna['Customer Name'] = edna['Customer Name'].apply(encrypt_value)

In [318]:
edna.head()

,Date,ID,Customer Name,Product ID,Product,Sales Value
0,4/6/2019,C258,b'gAAAAABnKengy-vEmuNfdkTLycElbUd44ctL8YZsa1Aj...,281914369-5,Web Hosting,$760
1,11/10/2019,C212,b'gAAAAABnKengL37OuV_AJSFGDkSmchEb0XFnKdTHozoU...,271951398-9,Power BI Consulting,$610
2,10/20/2019,C177,b'gAAAAABnKeng72ocDVsuuocCyF2f4kp2j8alkz-a69yk...,788959641-3,Networking,$916
3,6/19/2019,C191,b'gAAAAABnKenga1L7bmDwJqnAfVF3VwijM6PdACfZ2Tae...,094714157-X,Consulting,$123
4,12/9/2019,C144,b'gAAAAABnKengCN6WTfJpC92zr2dg_-mXHqOes-fzI6V7...,094714157-X,Consulting,$104
...,...,...,...,...,...,...
9995,6/30/2019,C130,b'gAAAAABnKenhMaorkyfYA7jbIF-RHtnsZcKwkvYNV8qe...,949632246-8,Azure Consulting,$542
9996,7/10/2019,C005,b'gAAAAABnKenh-H_ZLnLxaRM_UMHGp5jxvrSVk3MaE0VS...,542176934-8,Financial Reporting,$519
9997,1/16/2019,C029,b'gAAAAABnKenhSlGtIcuOLsDX8EFy2TChOmxEUjP-7di_...,733547075-7,Web Design,$786
9998,2/14/2019,C072,b'gAAAAABnKenhIoMmwAB56Ke68snK4kOXnBi8h5Heh5Ka...,271951398-9,Power BI Consulting,$796
9999,8/22/2019,C037,b'gAAAAABnKenh374V8YY3dArP9QvXPyUYCTU_Eirs6pos...,281914369-5,Web Hosting,$970

In [323]:
 # Apply encryption to the reservation_id column
hospitality['reservation_id'] = hospitality['reservation_id'].apply(encrypt_value)

In [324]:
hospitality.head()

,Avg Room Rate,reservation_id,check_in_date,stay_duration,adults,children,room_type,special_requests_flag,booking_channel,reservation_status,advanced_booking,Property,Date,Rate Type
0,71.10,b'gAAAAABnKeoAfD1CuLK9F3bnXNM2djWdGb0-AQ-S4X8J...,4/15/2020,13,3,4,Single,Yes,Call Center,Completed,Yes,The Chord,4/15/2020,Weekday
1,71.10,b'gAAAAABnKeoAxzBFxiktFo4uQ6w6YKNv3s-RP7Ygn43t...,6/12/2020,3,3,3,Single,No,Travel Agent,Completed,Yes,The Chord,6/12/2020,Weekday
2,172.38,b'gAAAAABnKeoAU4P7LroRXOMCROZbW1hIL2xWMg3Cvjfe...,2/25/2020,11,4,2,Queen,No,Call Center,Completed,Yes,The Sankey,2/25/2020,Weekday
3,172.38,b'gAAAAABnKeoAGQgIKsf0JlnjtnBOfezwatqjxjsZFxLp...,9/15/2020,11,4,1,Queen,No,Website,No-Show,Yes,The Sankey,9/15/2020,Weekday
4,199.00,b'gAAAAABnKeoA2yDHVSJwucukIgoK-8etcFmkdysVjjxf...,1/5/2020,14,2,4,Double,Yes,Walk-in,Completed,No,The Sankey,1/5/2020,Weekend

In [284]:
 # Apply encryption to the Email_Address column
biz['Email_Address'] = biz['Email_Address'].apply(encrypt_value)

In [285]:
biz.head()

,Business_Name,Contact_Name,Email_Address,Phone_Number,Address,City,State,Zip_Code,Industry
0,"Bishop, Romero and Evans",Chelsea Booker,b'gAAAAABnKebhx2e336Y7m6kNLP9MtwWwxfhBWvwZzOGz...,9118555658,67565 Dorsey Manor Suite 699\nPort Alexisshire...,South Devonborough,Illinois,52749,Retail
1,Holmes and Sons,Robin Humphrey,b'gAAAAABnKebh-1T3qqHUqOQkzjioczKCVhN33YtCBlgm...,578.171.0591x92366,"897 Bell Ridges Suite 507\nLake Andreaborough,...",Garciastad,New Mexico,49650,Retail
2,Williamson-Atkins,Cheryl Hardy,b'gAAAAABnKebhrMQ32r4ERc7BxpIhdSlz-vSwrWVhmsZa...,(667)921-9041x6464,"388 Fletcher Estates Suite 800\nNorth Amytown,...",Lake Kylechester,South Dakota,11376,Retail
3,Henderson-Perez,Susan Hall,b'gAAAAABnKebhcAxaRyiGh-uJLCLegej3ZMYPfWwNpJuY...,3348834461,"941 Steven Springs\nWest Patrick, ID 83311",Gordonside,Virginia,23407,Finance
4,Martinez-Powers,Thomas Moore,b'gAAAAABnKebhNsURmF4zqpH2EFOUzOv5KwDUh_P29Z6P...,001-314-870-6197x28902,"304 Eric Knoll\nBarbaraburgh, WV 66473",Cobbberg,Nebraska,93242,Retail

### Use of Cryptography.fernet - Using anonymous (lambda) function

In [286]:
# Apply encryption using a lambda function on the Customer Name column
edna['Customer Name'] = edna['Customer Name'].astype(str).apply(lambda x: f.encrypt(x.encode('utf-8')))

In [287]:
edna.head()

,Date,ID,Customer Name,Product ID,Product,Sales Value
0,4/6/2019,C258,b'gAAAAABnKebi2Rrhqw0l5kFmRwWeMoiM1HoswUbs8fQo...,281914369-5,Web Hosting,$760
1,11/10/2019,C212,b'gAAAAABnKebiUTCSTro6yA3uN2DgQ2yd5DOtA8rcA0jZ...,271951398-9,Power BI Consulting,$610
2,10/20/2019,C177,b'gAAAAABnKebi4JhVulfL75Y_KjwCbTNTld7und0Se6L9...,788959641-3,Networking,$916
3,6/19/2019,C191,b'gAAAAABnKebiJwMcBm9Z1AI8upn6jGCJvVgIzB1K5YpL...,094714157-X,Consulting,$123
4,12/9/2019,C144,b'gAAAAABnKebiMrVEaFV7mbJ6_pFONTgCkSK5Wsu_1qij...,094714157-X,Consulting,$104

In [288]:
# Apply encryption using a lambda function on the reservation_id column
hospitality['reservation_id'] = hospitality['reservation_id'].astype(str).apply(lambda x: f.encrypt(x.encode('utf-8')))

In [289]:
hospitality.head()

,Avg Room Rate,reservation_id,check_in_date,stay_duration,adults,children,room_type,special_requests_flag,booking_channel,reservation_status,advanced_booking,Property,Date,Rate Type
0,71.10,b'gAAAAABnKebjJvpc5cNmlUt9OhnLen23O2QRppVjX8Oy...,4/15/2020,13,3,4,Single,Yes,Call Center,Completed,Yes,The Chord,4/15/2020,Weekday
1,71.10,b'gAAAAABnKebjg00fTpq5uMBEUwZ0rhU9QarA_CYY46mK...,6/12/2020,3,3,3,Single,No,Travel Agent,Completed,Yes,The Chord,6/12/2020,Weekday
2,172.38,b'gAAAAABnKebjgPHgv9PE1erc8ebmEU4V7vusaJ5guwVR...,2/25/2020,11,4,2,Queen,No,Call Center,Completed,Yes,The Sankey,2/25/2020,Weekday
3,172.38,b'gAAAAABnKebjMmioACPKHBnc9rpgXcETiI1XFAwUqRZO...,9/15/2020,11,4,1,Queen,No,Website,No-Show,Yes,The Sankey,9/15/2020,Weekday
4,199.00,b'gAAAAABnKebjydfnODmEYQW2I6ZiQf1W_85LLQQ5tA3S...,1/5/2020,14,2,4,Double,Yes,Walk-in,Completed,No,The Sankey,1/5/2020,Weekend

In [290]:
# Apply encryption using a lambda function on the Email_Address column
biz['Email_Address']  = biz['Email_Address'] .astype(str).apply(lambda x: f.encrypt(x.encode('utf-8')))

In [291]:
biz.head()

,Business_Name,Contact_Name,Email_Address,Phone_Number,Address,City,State,Zip_Code,Industry
0,"Bishop, Romero and Evans",Chelsea Booker,b'gAAAAABnKebsrMrqwqw9oIVhD16PFcRYI-2Hm2kb1t4F...,9118555658,67565 Dorsey Manor Suite 699\nPort Alexisshire...,South Devonborough,Illinois,52749,Retail
1,Holmes and Sons,Robin Humphrey,b'gAAAAABnKebsJiYTm34FjqXqR7-wvkX-aWIAQ6f6sBPU...,578.171.0591x92366,"897 Bell Ridges Suite 507\nLake Andreaborough,...",Garciastad,New Mexico,49650,Retail
2,Williamson-Atkins,Cheryl Hardy,b'gAAAAABnKebsIbJPbbydUcOaxWoyaUIyJRHpeyeedTtu...,(667)921-9041x6464,"388 Fletcher Estates Suite 800\nNorth Amytown,...",Lake Kylechester,South Dakota,11376,Retail
3,Henderson-Perez,Susan Hall,b'gAAAAABnKebsWTBcWsdhMU8fF-KLz70WI7D16AZJhkhl...,3348834461,"941 Steven Springs\nWest Patrick, ID 83311",Gordonside,Virginia,23407,Finance
4,Martinez-Powers,Thomas Moore,b'gAAAAABnKebsjug9VDUgHNXiXs87UIhjAFh8ZueyysCa...,001-314-870-6197x28902,"304 Eric Knoll\nBarbaraburgh, WV 66473",Cobbberg,Nebraska,93242,Retail

### Hashlib - Using anonymous (lambda) function

In [292]:
# Apply encryption to the Customer Name column
edna['Customer Name'] = edna['Customer Name'].astype(str).apply(lambda x: hashlib.sha256(x.encode()).hexdigest()                                                              )

In [293]:
edna.head()

,Date,ID,Customer Name,Product ID,Product,Sales Value
0,4/6/2019,C258,015ab916e95d951d71e7b5951a012b72bb3bd111a4ffa4...,281914369-5,Web Hosting,$760
1,11/10/2019,C212,f0e94317aae0a607c09a2978eaf132687c4e79904ee4c3...,271951398-9,Power BI Consulting,$610
2,10/20/2019,C177,4530602c80834db950c64cf99d55fbbbd6e1100bb6879b...,788959641-3,Networking,$916
3,6/19/2019,C191,feee8c98460d7e22da8d429dba7e50a7275992b5c4e97e...,094714157-X,Consulting,$123
4,12/9/2019,C144,53d16248673d71cafdada411ddfd50e70892a824e5d7dc...,094714157-X,Consulting,$104

In [294]:
# Apply encryption to the reservation_id column
hospitality['reservation_id'] = hospitality['reservation_id'].astype(str).apply(lambda x: hashlib.sha256(x.encode()).hexdigest()                                                         )

In [295]:
hospitality.head()

,Avg Room Rate,reservation_id,check_in_date,stay_duration,adults,children,room_type,special_requests_flag,booking_channel,reservation_status,advanced_booking,Property,Date,Rate Type
0,71.10,5cf1986779c87c2c899dcfbb2be744d8c09ffcfce3208d...,4/15/2020,13,3,4,Single,Yes,Call Center,Completed,Yes,The Chord,4/15/2020,Weekday
1,71.10,82ccb1b2e85c3d17c3e1ef28f0bb82848e761d3c96eeef...,6/12/2020,3,3,3,Single,No,Travel Agent,Completed,Yes,The Chord,6/12/2020,Weekday
2,172.38,8df7bc98d07e5e45eace2f4a57a72ae684ca98df48c09f...,2/25/2020,11,4,2,Queen,No,Call Center,Completed,Yes,The Sankey,2/25/2020,Weekday
3,172.38,f24667abc98fbd0342c8b80fa31d1bdbf394671fda108a...,9/15/2020,11,4,1,Queen,No,Website,No-Show,Yes,The Sankey,9/15/2020,Weekday
4,199.00,b19e3ff5754a2b86f729ddaf390d3e5b1d7ae04d4af04c...,1/5/2020,14,2,4,Double,Yes,Walk-in,Completed,No,The Sankey,1/5/2020,Weekend

In [296]:
# Apply encryption to the Email_Address column
biz['Email_Address'] = biz['Email_Address'].astype(str).apply(lambda x: hashlib.sha256(x.encode()).hexdigest()                                                         )

In [297]:
biz.head()

,Business_Name,Contact_Name,Email_Address,Phone_Number,Address,City,State,Zip_Code,Industry
0,"Bishop, Romero and Evans",Chelsea Booker,d35407efd7bd2639fdc63b586cc4b730cc1f1cef75a262...,9118555658,67565 Dorsey Manor Suite 699\nPort Alexisshire...,South Devonborough,Illinois,52749,Retail
1,Holmes and Sons,Robin Humphrey,19c2fa4730237b4b94232e40a9f874588ad837d8a0a052...,578.171.0591x92366,"897 Bell Ridges Suite 507\nLake Andreaborough,...",Garciastad,New Mexico,49650,Retail
2,Williamson-Atkins,Cheryl Hardy,7ecfdbf4fb26d7de0e49697c64d8376cad9a0cff10945f...,(667)921-9041x6464,"388 Fletcher Estates Suite 800\nNorth Amytown,...",Lake Kylechester,South Dakota,11376,Retail
3,Henderson-Perez,Susan Hall,ebc3c07e2d339e2e7bdad49dcc22dfbe56081e494abf4c...,3348834461,"941 Steven Springs\nWest Patrick, ID 83311",Gordonside,Virginia,23407,Finance
4,Martinez-Powers,Thomas Moore,fcce28903c25fc2e6fd742d14c12fcc07f534b343b6e3d...,001-314-870-6197x28902,"304 Eric Knoll\nBarbaraburgh, WV 66473",Cobbberg,Nebraska,93242,Retail

### Hashlib - Defining function

In [298]:
def hash_value(value):
    return hashlib.sha256(value.encode()).hexdigest()

In [299]:
# Apply encryption to the Customer Name column
edna['Customer Name'] = edna['Customer Name'].astype(str).apply(hash_value)

In [300]:
# Check to see that the Customer Name column is obfuscated
edna.head()

,Date,ID,Customer Name,Product ID,Product,Sales Value
0,4/6/2019,C258,012f2ddf2de355b22cf48555daf8417f5c5d722d23746a...,281914369-5,Web Hosting,$760
1,11/10/2019,C212,fb8deb8760bbf7d2f044e729b364b1059946b59907b730...,271951398-9,Power BI Consulting,$610
2,10/20/2019,C177,27d172e7b424337b10251030cf23ced6ad8ab978296775...,788959641-3,Networking,$916
3,6/19/2019,C191,b35f218e6e38920cb8061e7b460cc48a40542da31b5925...,094714157-X,Consulting,$123
4,12/9/2019,C144,0b699f933ccfa96c47c3ee04d5b0053a04fbc80d15091e...,094714157-X,Consulting,$104

In [301]:
def hash_value(value):
    return hashlib.sha256(value.encode()).hexdigest()

In [302]:
# Apply encryption to the reservation_id column
hospitality['reservation_id'] =hospitality['reservation_id'].astype(str).apply(hash_value)

In [303]:
# Check to see the reservation_id column is obfuscated
hospitality.head()

,Avg Room Rate,reservation_id,check_in_date,stay_duration,adults,children,room_type,special_requests_flag,booking_channel,reservation_status,advanced_booking,Property,Date,Rate Type
0,71.10,c948c0adb893a6721ddd685415bc430b7eb3f32ded44de...,4/15/2020,13,3,4,Single,Yes,Call Center,Completed,Yes,The Chord,4/15/2020,Weekday
1,71.10,929dfadba862ad86e15e537b30b740ecdd74e39554e647...,6/12/2020,3,3,3,Single,No,Travel Agent,Completed,Yes,The Chord,6/12/2020,Weekday
2,172.38,2f1ac20ed08678256d6261f7e7649057e078aab5c71f8a...,2/25/2020,11,4,2,Queen,No,Call Center,Completed,Yes,The Sankey,2/25/2020,Weekday
3,172.38,982b1c2b09b59a45f675aa6a803abf18e1620cfc192c62...,9/15/2020,11,4,1,Queen,No,Website,No-Show,Yes,The Sankey,9/15/2020,Weekday
4,199.00,5a87dd9a4de60f9102b3c7a1e6becef085e44afc940c06...,1/5/2020,14,2,4,Double,Yes,Walk-in,Completed,No,The Sankey,1/5/2020,Weekend

In [304]:
def hash_value(value):
    return hashlib.sha256(value.encode()).hexdigest()

In [305]:
# Apply encryption to the Email_Address column
biz['Email_Address'] =biz['Email_Address'].astype(str).apply(hash_value)

In [306]:
biz.head()

,Business_Name,Contact_Name,Email_Address,Phone_Number,Address,City,State,Zip_Code,Industry
0,"Bishop, Romero and Evans",Chelsea Booker,7dcff6b5a7cd163e18597418dfd9d7a52981240672d976...,9118555658,67565 Dorsey Manor Suite 699\nPort Alexisshire...,South Devonborough,Illinois,52749,Retail
1,Holmes and Sons,Robin Humphrey,4964b6413b9b10284bf925be2834a5e6d31523ac90f426...,578.171.0591x92366,"897 Bell Ridges Suite 507\nLake Andreaborough,...",Garciastad,New Mexico,49650,Retail
2,Williamson-Atkins,Cheryl Hardy,fe70dc7ee6115d85ec461f3420cd2e23f63345fa2fcdf9...,(667)921-9041x6464,"388 Fletcher Estates Suite 800\nNorth Amytown,...",Lake Kylechester,South Dakota,11376,Retail
3,Henderson-Perez,Susan Hall,d37f8c3c9d4806181c62f99e94f52e53e1e8b984e60ae7...,3348834461,"941 Steven Springs\nWest Patrick, ID 83311",Gordonside,Virginia,23407,Finance
4,Martinez-Powers,Thomas Moore,8928856c59bda622784731bf59af75d16d090f618590be...,001-314-870-6197x28902,"304 Eric Knoll\nBarbaraburgh, WV 66473",Cobbberg,Nebraska,93242,Retail

### Using Hashlib.new function

In [307]:
edna['Customer Name'] = hashlib.new('md5',str(edna['Customer Name']).encode('utf-8')).hexdigest()

In [308]:
edna.head()

,Date,ID,Customer Name,Product ID,Product,Sales Value
0,4/6/2019,C258,1a60fdcadf667123aaa6f23578f3d23b,281914369-5,Web Hosting,$760
1,11/10/2019,C212,1a60fdcadf667123aaa6f23578f3d23b,271951398-9,Power BI Consulting,$610
2,10/20/2019,C177,1a60fdcadf667123aaa6f23578f3d23b,788959641-3,Networking,$916
3,6/19/2019,C191,1a60fdcadf667123aaa6f23578f3d23b,094714157-X,Consulting,$123
4,12/9/2019,C144,1a60fdcadf667123aaa6f23578f3d23b,094714157-X,Consulting,$104

In [309]:
hospitality['reservation_id'] = hashlib.new('sha512',str(hospitality['reservation_id']).encode('utf-8')).hexdigest()

In [310]:
hospitality.head()

,Avg Room Rate,reservation_id,check_in_date,stay_duration,adults,children,room_type,special_requests_flag,booking_channel,reservation_status,advanced_booking,Property,Date,Rate Type
0,71.10,f1de6d3a21e077ed4d8a9bca6773c16b43a46f8d9f312e...,4/15/2020,13,3,4,Single,Yes,Call Center,Completed,Yes,The Chord,4/15/2020,Weekday
1,71.10,f1de6d3a21e077ed4d8a9bca6773c16b43a46f8d9f312e...,6/12/2020,3,3,3,Single,No,Travel Agent,Completed,Yes,The Chord,6/12/2020,Weekday
2,172.38,f1de6d3a21e077ed4d8a9bca6773c16b43a46f8d9f312e...,2/25/2020,11,4,2,Queen,No,Call Center,Completed,Yes,The Sankey,2/25/2020,Weekday
3,172.38,f1de6d3a21e077ed4d8a9bca6773c16b43a46f8d9f312e...,9/15/2020,11,4,1,Queen,No,Website,No-Show,Yes,The Sankey,9/15/2020,Weekday
4,199.00,f1de6d3a21e077ed4d8a9bca6773c16b43a46f8d9f312e...,1/5/2020,14,2,4,Double,Yes,Walk-in,Completed,No,The Sankey,1/5/2020,Weekend

In [311]:
biz['Email_Address'] = hashlib.new('sha512',str(biz['Email_Address']).encode('utf-8')).hexdigest()

In [312]:
biz.head()

,Business_Name,Contact_Name,Email_Address,Phone_Number,Address,City,State,Zip_Code,Industry
0,"Bishop, Romero and Evans",Chelsea Booker,163a84456b956b555523e6d577db391335c95019572df4...,9118555658,67565 Dorsey Manor Suite 699\nPort Alexisshire...,South Devonborough,Illinois,52749,Retail
1,Holmes and Sons,Robin Humphrey,163a84456b956b555523e6d577db391335c95019572df4...,578.171.0591x92366,"897 Bell Ridges Suite 507\nLake Andreaborough,...",Garciastad,New Mexico,49650,Retail
2,Williamson-Atkins,Cheryl Hardy,163a84456b956b555523e6d577db391335c95019572df4...,(667)921-9041x6464,"388 Fletcher Estates Suite 800\nNorth Amytown,...",Lake Kylechester,South Dakota,11376,Retail
3,Henderson-Perez,Susan Hall,163a84456b956b555523e6d577db391335c95019572df4...,3348834461,"941 Steven Springs\nWest Patrick, ID 83311",Gordonside,Virginia,23407,Finance
4,Martinez-Powers,Thomas Moore,163a84456b956b555523e6d577db391335c95019572df4...,001-314-870-6197x28902,"304 Eric Knoll\nBarbaraburgh, WV 66473",Cobbberg,Nebraska,93242,Retail

### Some Hashlib options

In [313]:
print(hashlib.algorithms_guaranteed)

{'sha512', 'shake_256', 'sha3_256', 'blake2s', 'md5', 'sha224', 'blake2b', 'sha256', 'sha384', 'sha3_512', 'sha3_224', 'sha3_384', 'shake_128', 'sha1'}

In [314]:
print(hashlib.algorithms_available)

{'sha224', 'sha384', 'sha3_224', 'blake2b', 'md5-sha1', 'sm3', 'sha3_256', 'blake2s', 'md5', 'sha512_256', 'sha256', 'sha3_384', 'ripemd160', 'shake_128', 'sha1', 'sha512', 'sha512_224', 'shake_256', 'sha3_512'}

In [315]:
print(key) # key used with cryptography.fernet

b'W9GxBkIQjvqMyJvXF8Ie7-oUUKxXQFrEgoJN79vKCs0='